In [116]:
import numpy as np
import pandas as pd

## Classifier

### Import Dataset

In [117]:
df = pd.read_csv("../../data/indian_liver_patient.csv")
df.sample(3)

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
470,66,Male,1.1,0.5,167,13,56,7.1,4.1,1.36,1
574,32,Male,12.1,6.0,515,48,92,6.6,2.4,0.50,1
477,55,Male,0.6,0.2,220,24,32,5.1,2.4,0.88,1

### Preprocessing

In [118]:
from sklearn.preprocessing import LabelEncoder


for col in df.columns:
    if df[col].dtype == 'O':
        encoder = LabelEncoder()
        df[col]=encoder.fit_transform(df[col])
    
df.sample(3)

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
436,23,1,1.0,0.3,212,41,80,6.2,3.1,1.0,1
530,22,0,1.1,0.3,138,14,21,7.0,3.8,1.1,2
516,60,1,0.9,0.3,168,16,24,6.7,3.0,0.8,1

### Split Input Output Features

In [119]:
x = df.iloc[:, :-1]
y = df.iloc[:, -1]

print(x.shape)
print(y.shape)

(583, 10)
(583,)

In [120]:
# from sklearn.model_selection import train_test_split

# xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2, random_state=42)

# print(xtrain.shape)
# print(ytrain.shape)
# print(xtest.shape)
# print(ytest.shape)

### Training Decision Tree Classifier

In [121]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

accs = cross_val_score(DecisionTreeClassifier(), x, y, cv=10)

### Evaluating Decision Tree Classifier

In [122]:
np.round(np.mean(accs), 3)

0.647

### Training Random Forest Classifier

In [123]:
from sklearn.ensemble import RandomForestClassifier

accs = cross_val_score(RandomForestClassifier(n_estimators=1000), x, y, cv=10, n_jobs=-1)

### Evaluating Random Forest Classifier

In [124]:
np.round(np.mean(accs), 3)

0.693

## Regressor

### Load Dataset

In [125]:
df = pd.read_csv("../../data/Housing.csv")
df.sample(3)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
190,5040000,7600,4,1,2,yes,no,no,no,yes,2,no,furnished
31,8400000,7000,3,1,4,yes,no,no,no,yes,2,no,semi-furnished
183,5145000,7980,3,1,1,yes,no,no,no,no,1,yes,semi-furnished

### Preprocessing

In [126]:
from sklearn.preprocessing import LabelEncoder


for col in df.columns:
    if df[col].dtype == 'O':
        encoder = LabelEncoder()
        df[col]=encoder.fit_transform(df[col])
    
df.sample(3)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
349,3780000,4820,3,1,2,1,0,0,0,0,0,0,1
46,7525000,6000,3,2,4,1,0,0,0,1,1,0,0
289,4200000,5850,2,1,1,1,1,1,0,0,2,0,1

### Split Input Output Features

In [127]:
x = df.iloc[:, 1:]
y = df.iloc[:, 0]

print(x.shape)
print(y.shape)

(545, 12)
(545,)

In [128]:
# from sklearn.model_selection import train_test_split

# xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.2, random_state=42)

# print(xtrain.shape)
# print(ytrain.shape)
# print(xtest.shape)
# print(ytest.shape)

### Training Decision Tree Classifier

In [129]:
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score

accs = cross_val_score(DecisionTreeRegressor(), x, y, cv=10)

### Evaluating Decision Tree Classifier

In [130]:
np.round(np.mean(accs), 3)

-103.913

### Training Random Forest Classifier

In [131]:
from sklearn.ensemble import RandomForestRegressor

accs = cross_val_score(RandomForestRegressor(n_estimators=1000), x, y, cv=10, n_jobs=-1)

### Evaluating Random Forest Classifier

In [132]:
np.round(np.mean(accs), 3)

-48.011