In [37]:
import pandas as pd
import numpy as np

In [38]:
df = pd.read_csv("../../data/BostonHousing.csv")
df.sample(3)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat,medv
384,20.08490,0.0,18.10,0,0.700,4.368,91.2,1.4395,24,666,20.2,285.83,30.63,8.8
13,0.62976,0.0,8.14,0,0.538,5.949,61.8,4.7075,4,307,21.0,396.90,8.26,20.4
464,7.83932,0.0,18.10,0,0.655,6.209,65.4,2.9634,24,666,20.2,396.90,13.22,21.4

In [39]:
df.info(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   crim     506 non-null    float64
 1   zn       506 non-null    float64
 2   indus    506 non-null    float64
 3   chas     506 non-null    int64
 4   nox      506 non-null    float64
 5   rm       506 non-null    float64
 6   age      506 non-null    float64
 7   dis      506 non-null    float64
 8   rad      506 non-null    int64
 9   tax      506 non-null    int64
 10  ptratio  506 non-null    float64
 11  b        506 non-null    float64
 12  lstat    506 non-null    float64
 13  medv     506 non-null    float64
dtypes: float64(11), int64(3)
memory usage: 55.5 KB

In [40]:
x = df.iloc[:, :-1]
y = df.iloc[:, -1]
print(x.shape)
print(y.shape)

(506, 13)
(506,)

In [41]:
from sklearn.linear_model import LinearRegression
# from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score

lnr = LinearRegression()
# lor = LogisticRegression()
dtr = DecisionTreeRegressor()

estimators = [('lnr', lnr), ('dtr', dtr)]

for est in estimators:
    acc = cross_val_score(est[1], x, y, cv=10, scoring='r2', n_jobs=-1)
    print(np.round(np.mean(acc), 2))

0.2
-0.07

In [51]:
from sklearn.ensemble import VotingRegressor

vc = VotingRegressor(estimators=estimators)
acc = cross_val_score(vc, x, y, cv=10, scoring='r2', n_jobs=-1)
print(np.round(np.mean(acc), 2))

0.33